<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="HomePage test" parallel="tests" thread-count="1">
    <parameter name="appURL" value="https://xepo.ai"/>
   <test name="LoginTestOnChrome">
       <parameter name="browserType" value="chrome"/>
       <classes>
            <class name="TestCases.XepoLoginTest"/>
       </classes>
    </test>

</suite>